@font-face {
    font-family: "Gandhi Serif Regular";
    src: url("../../fonts/GandhiSerif-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Gandhi Serif Bold";
    font-weight: bold;
    src: url("../../fonts/GandhiSerif-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gandhi Serif Bold Italic";
    font-weight: bold;
    font-style: italic;
    src: url("../../fonts/GandhiSerif-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Gandhi Serif Italic";
    font-style: italic;
    src: url("../../fonts/GandhiSerif-Italic.otf") format("opentype");
}
